.catalog-button__title {
    padding-left: 15px;
    font-family: Rubik, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: #fff;
    z-index: 2;
}

@media (max-width: 767.9px) {
    .catalog-button__title {
        position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%); 
        margin: -1px;
    }
}