.product-card {
    position: relative;
    width: 302px;
    min-height: 700px;
    background-color: #f5f5f5;
    border-radius: 40px;
}

@media (max-width: 767.9px) {
    .product-card {
        width: 180px;
        min-height: 489px;
        background-color: #fff;
        border-radius: 24px;
    }
}