.selector__title {
    display: block;
    padding: 0 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #282828;
}

@media (max-width: 767.9px) {
    .selector__title {
        padding: 0 16px;
        font-size: 14px;
        line-height: 17px;
    }
}