.carousel__pagination {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.carousel__pagination button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: none;
    margin: 0 9px;
    background-color: #28282880;
    cursor: pointer;
}

.carousel__pagination button.active {
    background-color: #2a5cf6;
}

@media (max-width: 767.9px) {
    .carousel__pagination {
        position: relative;
        z-index: 15;
        transform: translateY(-36px);
    }
    
    .carousel__pagination button {
        width: 8px;
        height: 11px;
        margin: 0 6px;
        background-color: #c5c5c5;
    }
}