.tabs__checkbox {
    display: none;
    position: absolute;
    opacity: 0;
    z-index: -1;
}

@media (max-width: 767.9px) {
    .tabs__checkbox {
        display: block;
        position: absolute;
        opacity: 0;
        z-index: -1;
    }
    
    .tabs__checkbox:checked + .tabs__title.tabs__title::after{
        transform: rotate(0deg);
    }
    
    .tabs__checkbox:checked ~ .tabs__list {
        max-height: 100vh;
    }
}