.header-body {
    background-color: #fffc;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.06)
}

@media (max-width: 767.9px) {
    .header-body {
        background-color: #f5f5f5;
        box-shadow: none;
    }
}