.advanteg-card__title {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #282828;
    z-index: 5;
}

@media (max-width: 767.9px) {
    .advanteg-card__title {
        font-size: 12px;
        line-height: 14px;
    }
}