.banner__list {
    position: relative;
    z-index: 10;
    display: grid;
    grid-auto-rows: max-content;
    row-gap: 14px;
}

.banner__list > .list__item {
    display: flex;
    align-items: center;
}

.banner__list > .list__item::before {
    content: "\2022";
    color: #282828;
    display: inline-block;
    font-weight: 600;
    width: 1em;
    margin-left: 1em;
}

@media (max-width: 767.9px) {
    .banner__list {
        row-gap: 3px;
    }
    
    .banner__list > .list__item::before {
        width: 0.6em;
        margin-left: 0.4em;
        font-weight: 400;
    }
}